.nodecg-beam .sub {
  padding: 4px 35px 4px 6px;
  margin-bottom: 2px;
  overflow-wrap: break-word;
}
.beam-panel .column {
  width: 100%;
  margin: 0 4px;
}
.beam-panel .column:first-of-type {
  margin-right: 4px;
  margin-left: 0;
}
.beam-panel .column:last-of-type {
  margin-right: 0;
  margin-left: 4px;
}
.log {
  font-size: 12px;
  width: 100%;
  min-height: 51px;
  max-height: 250px;
  resize: none;
  border: 1px solid #a8a8a8;
  background-color: #f4f4f4;
  overflow-y: scroll;
  margin-bottom: 8px;
  padding:2px;
}

.log-message:nth-child(even) {
  background-color: #DDDDDD;
}
#nodecg-beam_list {
  max-height: 250px;
  overflow-y: scroll;
  margin-bottom: 4px;
}
.fa-alert-button {
  margin-top:-3px;
  margin-right:10px;
}
.fa-alert-button span {
  font-size:15px;
}

.fa-beam {
  background: url('/view/nodecg-beam/img/beam.png') no-repeat;
  background-size: 20px 20px;
  height:20px;
}

.log {
  width:300px;
  height:200px;
  overflow:auto;
  background-color:#CCC;
}

.beam-list {
  margin-bottom: 4px;
  font-size:0.8em;
}

.beam-list paper-icon {
  width:35px;
  height:35px;
}

.beam-list paper-item {
  min-height:0px;
}

