.list-container {
  display: flex;
}
.column {
  flex:1;
}

.stats-container {
  display: flex;
}

.stat {
  padding: 5px;
  flex:0.15;
}

.stat iron-icon {
  padding-right:5px;
}

.column:first-of-type {
  margin-right: 15px;
  margin-left: 0;
}

.log-message:nth-child(even) {
  background-color: #DDDDDD;
}

paper-item {
  padding:0px;
}
paper-item-body {
  flex:2;
}
boe-list {
  margin-bottom: 4px;
  font-size:0.8em;
  overflow: scroll;
}

boe-list paper-icon {
  width:35px;
  height:35px;
}

boe-list paper-item {
  min-height:0px;
}

boe-list paper-item-body {
  display: flex;
}

boe-list paper-item-body span:first-of-type {
  flex:1;
}

paper-button.block {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height:0px;
}
::-webkit-scrollbar-track {
  background:transparent;
  border:transparent;
}
::-webkit-scrollbar-thumb {
  background:#C5C5C5;
  border-radius:15px;
}
::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}






